// ------------------ //
// ---FINAL FILE----- //
// ------------------ //
@import "base/index";
@import "utilities/index";
@import "modules/banner/index";
/*-------Beginning-------*/
.container {
  overflow: hidden;//you add THIS!
  margin: 0 auto;
  width: 900px;
}
//Section Header
#header {
  background-color: $colorHeader;
  position: relative;
  z-index: 1;
  .heading {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
      .titles {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-first,
        &-second {
          font-size: 30px;
          margin: 0;
          text-align: center;
          text-transform: uppercase;
        }
        &-first {
          background: -webkit-linear-gradient(white, grey);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
        &-second {
          background: -webkit-linear-gradient(grey, white);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
        }
      }
    }
  .left-column {
    width: 30%;
    .logo {
      display: block;
    }
  }
  .right-column {
    width: 70%;
      .form-wrapper {
        background: rgba(0,0,0,.2);
        border-radius: 5px;
        box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
        padding: 10px;
        width: 100%;
        input {
          background: #eee;
          border: 0;
          border-radius: 3px 0 0 3px;
          font-weight: bold;
          height: 20px;
          padding: 5px;
          width: 80%;
          &:focus {
            background: $white;
            outline: 0;
          }
        }
        button {
          background: deepskyblue;
          border: 0;
          border-radius: 0 3px 3px 0;
          color: $colorHeader;
          cursor: pointer;
          font-weight: bold;
          height: 30px;
          text-transform: uppercase;
          padding: 0;
          width: 15%;
        }
      }
    //main MENU
    .dws-menu *{
      padding:0;
      margin:0;
    }
    .dws-menu ul {
      background-color: $colorHeader;
      list-style-type: none;
    }
    .dws-menu > ul {
      display: flex;
    }
    .list-menu {
      flex: 1 1 0;
      a {
        color: $white;
        display: block;
        font-size: $number;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 1s ease;
        padding: $number;
        white-space: nowrap;
        &:hover {
          background-color: $grey;
          box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
          transition: all 0.5s ease;
        }
      }
    }
    //Sub Menu
    .submenu {
      min-width: 150px;
      position: absolute;
      li{
        position: relative;
      }
      li ul {
        position: absolute;
        left: 100%;
        top: 0;
      }
    }
  }
}
.welcome {
  background-color: $orange;
  .container {
    display: flex;
  }
  .left-column {
    width: 30%;
    .form {
      background-color: deepskyblue;
    }
  }
  .right-column {
    width: 70%;
  }
}
.slider {
  background-color: limegreen;
  margin: 0 auto;
  max-width: 630px;
  .slider-wrapper {
    min-width: 630px;
  }
  .slider-body {
    align-items: center;
    display: flex;
    & [class$=-button] {
      cursor: pointer;
      height: 65px;
      width: 65px;
      &:hover {
      opacity: .7;
    }
    }
    .left-button {
      background: url("../img/prev.png") no-repeat 50% 50% / 100%;
    }
    .right-button {
      background: url("../img/next.png") no-repeat 50% 50% / 100%;
    }
  }
  .imgW{
    align-self: flex-start;
    height: 600px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  .slider-menu {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    li {
      display: inline-block;
      background-color: yellowgreen;
      border-radius: 50%;
      cursor: pointer;
      height: 10px;
      width: 10px;
      margin: 0 2px;
      &.active {
        background-color: deepskyblue;
      }
    }
  }
}
.slider-content.active {
  display: block;
}

.slider-content {
  display: none;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}